<h1>Title <%= @track.name %></h1>

<% @track.lyrics.split("\n").each do |line| %>
  <%= ugly_lyrics(line) %>
  <br>
<% end %>

<table border="1">
  <tr>
    <th>Author</th>
    <th>Note</th>
  </tr>
  <%= render @track.notes %>
</table>

<%= render "notes/form", track: @track %>
