<h1>Sign up!</h1>



<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]" value="<%= @user.email %>"/>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]"/>

  <input type="submit" value="Create User" />
</form>
