<% action = params[:controller] == "sessions" ? session_url : users_url %>
<% submit = params[:controller] == "sessions" ? "Log in" : "Create User" %>


<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]" value="<%= user.email %>"/>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]"/>

  <input type="submit" value="<%= submit %>" />
</form>
