<h1>Albums</h1>

<% @albums.each do |album| %>
  <%= link_to album.name, album_url(album) %>
  <%= link_to "Edit album", edit_album_url(album) %>
  <%= button_to "Delete Album", album_url(album), method: :delete %>
  <br />
<% end %>

<%= button_to "Back to Bands", bands_url, method: :get %>
